fastapi==0.116.1
firebase==4.0.1
firebase_admin==7.0.0
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.10.1
pymongo==4.13.2
python-dotenv==1.1.1
python-jose==3.5.0
uvicorn==0.35.0
#pyenv == 3.10.5
pytest==8.4.1
